In [8]:
a=int(input("Please enter a natural no "))
factorial=1
while a>1:
    factorial=factorial*a
    a=a-1
print("The factorial of the no is ",factorial)

Please enter a natural no 5
The factorial of the no is  120

In [14]:
b=int(input("Please enter the table for which you have to display the multiplication"))

print(b,"*1=",b*1)
print(b,"*2=",b*2)
print(b,"*3=",b*3)
print(b,"*4=",b*4)
print(b,"*5=",b*5)
print(b,"*6=",b*6)
print(b,"*7=",b*7)
print(b,"*8=",b*8)
print(b,"*9=",b*9)
print(b,"*10=",b*10)

Please enter the table for which you have to display the multiplication123
123 *1= 123
123 *2= 246
123 *3= 369
123 *4= 492
123 *5= 615
123 *6= 738
123 *7= 861
123 *8= 984
123 *9= 1107
123 *10= 1230

In [22]:
c=int(input("Please enter the no of iteration you want to go for fibonacci series"))
a=
b=0
for i in range(c):
    print(i,b)
    a,b=b,a+b
    c-=1

Please enter the no of iteration you want to go for fibonacci series10
0 0
1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34

In [16]:
arm=int(input("Please enter to check if the no. is Armstrong number"))
sum=0
d=arm
for i in range(len(str(d))):
    d1=d%10
    d=d//10
    sum=sum+d1**3
    print(d,d1)
print(sum)
if sum==arm:
    print("the no",d," is armstrong no")
    
else:
    print("the no isn't armstrong no")

Please enter to check if the no. is Armstrong number300
30 0
3 0
0 3
27
the no isn't armstrong no

In [20]:
number=int(input("Please enter the range till you have to find armstrong number"))
arm=0
for arm in range(number):
    sum=0
    d=arm
    for j in range(len(str(d))):
        d1=d%10
        d=d//10
        sum=sum+d1**3
        #print(d,d1)
    #print(sum)
    if sum==arm:
        print("the no",d," is armstrong no")

Please enter the range till you have to find armstrong number400
the no 0  is armstrong no
the no 0  is armstrong no
the no 0  is armstrong no
the no 0  is armstrong no
the no 0  is armstrong no

In [23]:
x=int(input("write the end till which you have to write the sum of natural number"))
sum=0
while x>0:
    sum=sum+x
    x=x-1
print(sum)

write the end till which you have to write the sum of natural number30
465

In [27]:
n=int(input())
print(n*(n+1)/2)

30
465.0